@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/Account/Login.css" />
</head>

<form class="user-login" id="account" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="user-login-wrapper">
        <div class="user-login-header">
            <h1>@ViewData["Title"]</h1>
            <p>Join us<br />in your<br />bloom realm.</p>
        </div>

        <hr />

        <div class="user-login-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="user-login-form-input">
                <input asp-for="Input.Email" class="user-login-form-input" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="user-login-form-input">
                <input asp-for="Input.Password" class="user-login-form-input" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="user-login-form-input">
                <input asp-for="Input.ConfirmPassword" class="user-login-form-input" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div>
        <button id="login-submit" type="submit" class="user-login-button">Register</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
