<style>

    body {
        overflow: hidden;
        height: 100%;
    }

    .error-404-container {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        padding: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        max-width: 500px;
        width: 90%;
        margin: 0 auto;
    }

    .error-404-title {
        font-size: 72px;
        margin: 10px 0;
        color: #3C3631;
    }

    .error-404-message {
        font-size: 18px;
        color: #A0A7AC;
        margin-bottom: 30px;
    }

    .error-404-link {
        color: #B6B3EB;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid #B6B3EB;
        padding: 10px 20px;
        border-radius: 50px;
        transition: all 0.3s ease;
    }

        .error-404-link:hover {
            background-color: #B6B3EB;
            color: #f1f1f1;
        }

    nav {
        display: none !important;
    }
</style>

<div class="error-404-container">
    <h1 class="error-404-title">404</h1>
    <p class="error-404-message">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <a href="/" class="error-404-link">Back to Home</a>
</div>