<head>
    <link rel="stylesheet" href="~/css/Home/Index.css" />
</head>

<div class="main-blooms">
    @foreach (Bloom bloom in ViewBag.Blooms) {
        @Html.Partial("_BloomPartial", bloom)
    }   
</div>