.new-bloom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 25vw;
    min-width: 450px;
    gap: 24px;
}

.new-bloom-title {
    font-size: 32px;
    font-weight: 600;
    color: var(--content-primary);
    text-align: center;
}

.new-bloom-title-span {
    font-size: 24px;
    font-weight: 900;
    color: var(--accent-primary);
}

.new-bloom-tabview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
}

.new-bloom-tabview-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 24px;
    background-color: var(--background-primary);
    border-radius: 12px 12px 0px 0px;
}

.new-bloom-tabview-button {
    width: 100%;
    height: 48px;
    background-color: var(--background-primary);
    color: var(--content-secondary);
    box-shadow: 4px 4px 4px 4px var(--background-secondary);
    font-size: 12px;
    font-weight: 200;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s;
}

    .new-bloom-tabview-button:hover, .new-bloom-tabview-button-active {
        color: var(--content-primary);
        text-decoration: none;
        border: none;
        background-color: var(--background-secondary);
        box-shadow: 2px 2px 4px var(--accent-primary);
    }

.new-bloom-forms-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 24px;
    background-color: var(--background-primary);
    border-radius: 0px 0px 12px 12px;
}

.new-bloom-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 75%;
    padding: 24px;
    background-color: var(--background-primary);
    border-radius: 12px;
}

.new-bloom-form-input {
    width: 60%;
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    font-size: 12px;
    color: var(--content-secondary);
    transition: all 0.5s;
    border: none;
    box-shadow: 1px 1px 4px var(--content-secondary);
}

    .new-bloom-form-input::placeholder {
        color: var(--content-secondary);
    }

    .new-bloom-form-input:focus {
        border: 1px solid var(--accent-primary);
        color: var(--content-primary);
        font-size: 14px;
        border: none;
        outline: none;
        box-shadow: 1px 1px 4px var(--accent-primary);
    }

.new-bloom-form-textarea {
    width: 60%;
    height: 120px;
    border: 1px solid var(--content-secondary);
    border: none;
    box-shadow: 1px 1px 4px var(--content-secondary);
    border-radius: 12px;
    padding: 12px;
    font-size: 12px;
    color: var(--content-secondary);
    resize: none;
    transition: all 0.5s;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-primary) var(--background-primary);
}

    .new-bloom-form-textarea::placeholder {
        color: var(--content-secondary);
    }

    .new-bloom-form-textarea:focus {
        border: none;
        outline: none;
        box-shadow: 1px 1px 4px var(--accent-primary);
        color: var(--content-primary);
        font-size: 14px;
    }

.new-bloom-form-submit {
    width: 60%;
    height: 48px;
    background-color: var(--background-secondary);
    color: var(--content-primary);
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s;
}

    .new-bloom-form-submit:hover {
        color: var(--content-primary);
        text-decoration: none;
        box-shadow: 1px 1px 4px var(--accent-primary);
    }

#preview-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 12px;
    gap: 16px;
}

.new-bloom-preview-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: var(--background-primary);
    border-radius: 12px;
    padding: 12px 18px;
}

.new-bloom-preview-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.new-bloom-preview-back, .new-bloom-preview-submit {
    width: 100%;
    height: 48px;
    background-color: var(--background-primary);
    color: var(--content-secondary);
    box-shadow: 4px 4px 4px 4px var(--background-secondary);
    font-size: 12px;
    font-weight: 200;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s;
}

    .new-bloom-preview-back:hover, .new-bloom-preview-submit:hover {
        color: var(--content-primary);
        text-decoration: none;
        border: none;
        background-color: var(--background-secondary);
        box-shadow: 2px 2px 4px var(--accent-primary);
    }
