 
<head>
    
    <script src="~/js/Community/Index.js"></script>

</head>
<input type="text" id="searchInput" oninput="handleInputChange()"/>
<div id="indexWrapper">
@Html.Partial("_CommunitiesListPartial")
</div>