<form  method="POST" action="/Communities/New/">
    <input type="text"
           name="name"
           class="new-board-form-input"
           placeholder="Name"
           required />

    <textarea name="description"
              class="new-board-form-textarea"
              placeholder="Description"
              required></textarea>
    <button class="new-board-form-submit" type="submit">Create</button>
</form>