@model BoardBloom.Models.Bloom

<head>
    <link rel="stylesheet" href="~/css/Blooms/BloomNew.css" />
</head>

<div class="new-bloom-wrapper">
    <h1 class="new-bloom-title">Spawn a new beautiful<br/><span class="new-bloom-title-span">Bloom</span></h1>

    <form class="new-bloom-form" method="POST" action="@Url.Action("New", "Blooms")">
        <input 
            type="text" 
            id="title" 
            name="title" 
            class="new-bloom-form-input" 
            placeholder="Title"
            required 
        />

        <input 
            type="text"
            id="image" 
            name="image"
            class="new-bloom-form-input" 
            placeholder="Image URL"
            required 
        />

        <textarea
            id="content" 
            name="content"
            class="new-bloom-form-textarea"
            placeholder="Content"
            required></textarea>

        <button class="new-bloom-form-submit" type="submit">Create</button>
    </form>
</div>