.comment-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    padding: 16px;
    background-color: var(--background-primary);
    border-radius: 12px;
    width: 100%;
}

.comment-card * {
    margin: 0;
    padding: 0;
}

.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.comment-header-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    width: 100%;
}

.comment-header-title {
    color: var(--content-primary);
    font-size: 16px;
}

.comment-header-date {
    color: var(--content-secondary);
    font-size: 12px;
}

.comment-header-actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 12px;
    display: none;
    transition: display 0.3s ease;
}

.comment-card:hover .comment-header-actions {
    display: flex;
}

.comment-edit-button {
    border: none;
    border-radius: 12px;
    color: var(--content-primary);
    background-color: none;
    font-size: 14px;
}

.comment-edit-button:hover {
    color: var(--accent-primary);
    cursor: pointer;
    text-decoration: none;
}

.comment-delete-button {
    border: none;
    border-radius: 12px;
    color: var(--content-primary);
    background-color: none;
    font-size: 14px;
}

.comment-delete-button:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.comment-main-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    aspect-ratio: 1;
    object-fit: cover;
}

.comment-main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 8px;
    width: 100%;
}

.comment-main-content {
    color: var(--content-primary);
    font-size: 14px;
    word-wrap: break-word;
    text-wrap: wrap;
    width: 100%;
}

.comment-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
    width: 100%;
}

.comment-edit-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid var(--content-secondary);
    border: none;
    box-shadow: 1px 1px 4px var(--content-secondary);
    border-radius: 12px;
    padding: 12px;
    font-size: 12px;
    color: var(--content-secondary);
    resize: none;
    transition: all 0.5s;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-primary) var(--background-primary);
}

.comment-edit-textarea:focus {
    border: none;
    outline: none;
    box-shadow: 1px 1px 4px var(--accent-primary);
    color: var(--content-primary);
    font-size: 14px;
}

.comment-edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.comment-edit-submit {
    border: none;
    color: var(--content-secondary);
    font-size: 14px;
    background-color: none;
    box-shadow: 2px 4px var(--background-secondary);
    border-radius: 12px;
    padding: 4px 6px;
    transition: all 0.5s;
}

.comment-edit-submit:hover {
    color: var(--content-primary);
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 4px var(--accent-primary);
}

.comment-edit-cancel {
    border: none;
    color: var(--content-secondary);
    font-size: 14px;
    background-color: none;
    box-shadow: 2px 4px var(--background-secondary);
    border-radius: 12px;
    padding: 4px 6px;
    transition: all 0.5s;
}

.comment-edit-cancel:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 4px red;
}