@model BoardBloom.Models.Board

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager	
@inject UserManager<ApplicationUser> UserManager


<head>
    <link rel="stylesheet" href="~/css/Boards/BoardEdit.css" />
</head>

<div class="edit-board-wrapper">
    <h1 class="edit-board-title">Edit your Board</h1>

    <div class="edit-board-form-wrapper">
        <form class="edit-board-form" method="POST" action="/Boards/Edit/@Model.Id">
            <input 
                type="text" 
                name="name" 
                class="edit-board-form-input" 
                placeholder="Name"
                required 
				value="@Model.Name"
            />

            <textarea
                name="note"
                class="edit-board-form-textarea"
                placeholder="Description"
                required>@Model.Note</textarea>
            
            <input type="hidden" name="userId" id="userId" value="@UserManager.GetUserId(User)" />
            <button class="edit-board-form-submit" type="submit">Save</button>
        </form>
    </div>
</div>