@model BoardBloom.Models.Board

<form method="post"
	  action="/Boards/Edit/@Model.Id">
	<label>Nume</label>
	<br />
	<input type="text" name="Name" value="@Model.Name" />
	<br /><br />
	<label>Note</label>
	<br />
	<input type="text" name="Note" value="@Model.Note" />
	<br /><br />

	<button class="btn" style="background-color: #3838b2; color: #ffffff; width: 100%;" type="submit">Modifica categoria</button>
</form>