@using BoardBloom.Models    

<head>
    <link rel="stylesheet" href="~/css/Boards/BoardIndex.css" />
</head>

<div class="board-index-wrapper">
    <h1 class="board-index-title">Your saved boards</h1>

    <div class="board-index-boards">
        @foreach (Board board in ViewBag.Boards)
        {
            @Html.Partial("_BoardPreviewPartial", board)
        }
    </div>
</div> 

<a class="board-index-new-button" href="/Boards/New">+</a>