@model BoardBloom.Models.Board

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
    <link rel="stylesheet" href="~/css/Boards/BoardNew.css" />
</head>

<div class="new-board-wrapper">
    <h1 class="new-board-title">Create a new board<br/><span class="new-board-title-span">- save your thoughts in -</span></h1>

    <div class="new-board-form-wrapper">
        <form class="new-board-form" method="POST" action="/Boards/New/">
            <input 
                type="text" 
                name="name" 
                class="new-board-form-input" 
                placeholder="Name"
                required 
            />

            <textarea
                name="note"
                class="new-board-form-textarea"
                placeholder="Description"
                required></textarea>
            
            <input type="hidden" name="userId" id="userId" value="@UserManager.GetUserId(User)" />
            <button class="new-board-form-submit" type="submit">Create</button>
        </form>
    </div>
</div>